html {
  scroll-behavior: smooth;
}

.main_container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
}

.main_first--section--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main_first--section--content--left {
  position: relative;
}

.main_first--section--content--left img {
  position: absolute;
  left: 415px;
  top: 100px;
}

.main_first--section--content--left--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 40px;
  max-width: 386px;
}

.main_first--section--content--left--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-bottom: 60px;
}

.main_first--section--content--left--button {
  width: 438px;
  height: 118px;
  border-radius: 15px;
  background: #263238;
  font-family: Poppins;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}

.main_second--tablet--section--content {
  display: none;
}

.main_second--mobile--section--content {
  display: none;
}

.main_second--section--content--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #000000;
  padding-top: 100px;
  text-align: center;
  padding-bottom: 92px;
}

.main_second--section--content--cards {
  display: flex;
  gap: 25px;
}

.main_second--section--content--card--speaking {
  width: 435px;
  height: 894px;
  display: flex;
  background: #F5F5F5;
  border-radius: 10px;
}

.main_second--section--content--card--speaking--item--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 0%;
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #263238;
  padding-left: 40px;
}

.main_second--section--content--card--speaking--item--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-top: 10px;
  padding-left: 40px;
}

.main_second--section--content--card--speaking--item--text--2 {
  padding-top: 30px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-left: 40px;
}

.main_second--section--content--card--speaking--item--button {
  margin-top: 36px;
  width: 230px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
  margin-left: 40px;
}

.main_second--section--content--card--speaking--item--img {
  padding-top: 35px;
  padding-left: 22px;
  padding-right: 23px;
}

.main_second--section--content--card--writing--reading--listening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.main_second--section--content--card--writing--reading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.main_second--section--content--card--writing {
  background: #f5f5f5;
  padding-left: 30px;
  width: 434px;
  border-radius: 10px;
  height: 531px;
}

.main_second--section--content--card--writing--item--img {
  padding-left: 92px;
}

.main_second--section--content--card--writing--item--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0%;
  color: #263238;
}

.main_second--section--content--card--writing--item--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-bottom: 33px;
}

.main_second--section--content--card--writing--item--button {
  width: 218px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-bottom: 44px;
  cursor: pointer;
}

.main_second--section--content--card--reading {
  background: #f5f5f5;
  width: 435px;
  border-radius: 10px;
  height: 532px;
}

.main_second--section--content--card--reading--item--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0%;
  color: #263238;
  padding-left: 40px;
  padding-top: 45px;
}

.main_second--section--content--card--reading--item--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-left: 40px;
}

.main_second--section--content--card--reading--item--button {
  width: 218px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 40px;
  margin-top: 34px;
  cursor: pointer;
}

.main_second--section--content--card--listening {
  width: 888px;
  height: 336px;
  border-radius: 10px;
  background: #f5f5f5;
}

.main_second--section--content--card--listening--item {
  display: flex;
  justify-content: space-between;
}

.main_second--section--content--card--listening--item--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #263238;
  padding-top: 43px;
  padding-left: 48px;
}

.main_second--section--content--card--listening--item--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-left: 48px;
  padding-bottom: 25px;
}

.main_second--section--content--card--listening--item--button {
  width: 218px;
  height: 60px;
  border-radius: 5px;
  background: #263238;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  margin-left: 48px;
  cursor: pointer;
}

.main_second--section--content--card--listening--item--img {
  padding-right: 25px;
  padding-bottom: 44px;
  padding-top: 44px;
}

.main_third--section {
  padding-top: 300px;
}

.main_third--section--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.main_third--section--content--left--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #000000;
  padding-bottom: 35px;
}

.main_third--section--content--right--mobile--title {
  display: none;
}

.main_third--section--content--left--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
}

.main_third--section--content--right--img {
  margin-top: 60px;
}

.main_third--section--content--left--numb {
  padding-top: 50px;
  display: flex;
  gap: 120px;
}

.main_third--section--content--left--numb--card--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #2a3246;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_third--section--content--left--numb--card--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_fourth--section {
  padding-top: 180px;
}

.main_fourth--section--content--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #000000;
  text-align: center;
  padding-bottom: 57px;
}

.main_fourth--section--content {
  width: 100%;
}

.main_fourth--section--content--cards {
  display: flex;
  justify-content: space-between;
}

.main_fourth--section--content--card:first-child img,
.main_fourth--section--content--card:nth-child(2) img {
  margin-bottom: 29px;
}

.main_fourth--section--content--card:nth-child(2) {
  padding-top: 26px;
}

.main_fourth--section--content--card--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0%;
  color: #263238;
}

.main_fourth--section--content--card--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
}

.main_fourth--section--content--card:first-child .main_fourth--section--content--card--price {
  margin-top: 39px;
}

.main_fourth--section--content--card:nth-child(2) .main_fourth--section--content--card--price {
  margin-top: 61px;
}

.main_fourth--section--content--card--price {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #263238;
  background: #eeeeee;
  max-width: fit-content;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 59px;
}

.main_fourth--section--content--card--price span {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #546269;
}

.main_fifth--section--items {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.main_fifth--section {
  padding-top: 261px;
}

.main_fifth--section .main_container {
  border-bottom: 1px solid #c4c4c4;
}

.main_fifth--section--item--left--img {
  padding-bottom: 133px;
}

.main_fifth--section--item--left--title {
  display: none;
}

.main_fifth--section--item--right--title {
  font-family: Poppins;
  font-weight: 600;
  font-size: 48px;
  line-height: 80px;
  letter-spacing: 0%;
  color: #000000;
  padding-top: 33px;
}

.main_fifth--section--item--right--text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8f95a5;
  padding-top: 37px;
  padding-bottom: 52px;
}

.main_fifth--section--item--right--input {
  border: 1px solid #8F95A5;
  font-family: Poppins;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #8F95A5;
  padding-bottom: 21px;
  padding-top: 21px;
  padding-left: 33px;
  width: 450px;
  height: 80px;
  border-radius: 10px;
  margin-right: 10px;
}

.main_fifth--section--item--right--btn {
  width: 264px;
  height: 80px;
  border-radius: 10px;
  background: #263238;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #ffffff;
  cursor: pointer;
}